.img-circle {
  width: 15rem;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 50%;
}

.icon {
  color: #777777;
}

.socials {
  margin-top: auto;
}

.card-deck {
  flex: initial;
}

.card {
  border-radius: 20px;
}

.contact-card {
  margin: 11px 10px;
  width: 20rem;
  flex: initial;
}

@media only screen and (max-width: 600px) {
  .card-deck {
    flex-direction: column;
    align-items: center;
  }

  .contact-card {
    margin: 30px auto;
    width: 20rem;
  }

  .feedback-card {
    margin: 30px auto;
    width: 20rem;
  }

  form {
    width: 18rem;
  }

  card {
    width: 20rem;
  }
}

.feedback-card {
  width: 40rem;
  margin: 11px 10px;
}

.send-btn {
  color: white;
  background-color: #cb6318;
}
