<div class="card-deck justify-content-center">
  <div class="card shadow">
    <img class="card-img-top img-circle" src="../../assets/Heidi.JPG" />
    <div class="card-body m-3">
      <h3>Heidi Tran</h3>
      <h6 class="font-weight-light font-italic">Software Engineer</h6>
      <p class="card-text my-4 text-justify">Hi! I'm a rising third-year student at Drexel University. I'm passionate about building software products and creating data solutions. In my free time, I love trying out new recipes.</p>
      <div class="d-flex socials">
        <a class="fa fa-lg fa-envelope icon" target="_blank" href="mailto:gtt27@drexel.edu"></a>
        <a class="fa fa-lg fa-github-alt mx-2 icon" target="_blank" href="https://github.com/HeidiTran"></a>
        <a class="fa fa-lg fa-linkedin icon" target="_blank" href="https://www.linkedin.com/in/heidi-tran/"></a>
      </div>
    </div>
  </div>

  <div class="card shadow">
    <img class="card-img-top img-circle" src="../../assets/AnhMinh.jpg" />
    <div class="card-body m-3 d-flex flex-column">
      <h3>Anh Minh Tran</h3>
      <h6 class="font-weight-light font-italic">Software Engineer</h6>
      <p class="card-text my-4">Hi</p>
      <div class="d-flex socials">
        <a class="fa fa-lg fa-envelope icon" target="_blank" href="mailto:gtt27@drexel.edu"></a>
        <a class="fa fa-lg fa-github-alt mx-2 icon" target="_blank" href="https://github.com/anhminhtran235"></a>
        <a class="fa fa-lg fa-linkedin icon" target="_blank" href="https://www.linkedin.com/in/anhminhtran/"></a>
      </div>
    </div>
  </div>
</div>
