/* .monaco-select {
  background: hsla(277, 100%, 47%, 1) !important;
  width: 5px;
  opacity: 85%;
}
.monaco-cursor {
  background: hsla(277, 100%, 47%, 1) !important;
  width: 5px !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}
.monaco-cursor:hover {
  width: 5px !important;
  background: white !important;
} */

@keyframes blinking {
  to {
    opacity: 0%;
  }
}

.hide {
  font-size: 0.1px !important;
  opacity: 0;
  height: 18px;
  padding: 0px !important;
}

.nameTagText {
  font-size: 12px;
  color: white;
  padding: 0px 5px;
  border-radius: 2px;
}

/* Hand-picked color from https://hslpicker.com */
:root {
  --monaco-color-1: hsla(31, 100%, 50%, 1);
  --monaco-color-2: hsla(236, 100%, 50%, 1);
  --monaco-color-3: hsla(0, 100%, 50%, 1);
  --monaco-color-4: hsla(109, 100%, 30%, 1);
  --monaco-color-5: hsla(89, 100%, 17%, 1);
  --monaco-color-6: hsla(194, 100%, 52%, 1);
  --monaco-color-7: hsla(218, 100%, 29%, 1);
  --monaco-color-8: hsla(280, 100%, 29%, 1);
  --monaco-color-9: hsla(280, 100%, 67%, 1);
  --monaco-color-10: hsla(344, 79%, 64%, 1);
  --monaco-color-11: hsla(344, 79%, 28%, 1);
  --monaco-color-12: hsla(360, 80%, 55%, 1);
  --monaco-color-13: hsla(47, 80%, 32%, 1);
  --monaco-color-14: hsla(188, 80%, 25%, 1);
  --monaco-color-15: hsla(316, 100%, 34%, 1);
  --monaco-color-16: hsla(36, 100%, 28%, 1);
  --monaco-color-17: hsla(76, 37%, 43%, 1);
  --monaco-color-18: hsla(149, 37%, 43%, 1);
  --monaco-color-19: hsla(237, 37%, 43%, 1);
  --monaco-color-20: hsla(332, 37%, 43%, 1);
  --monaco-color-21: hsla(170, 100%, 43%, 1);
  --monaco-color-22: hsla(202, 100%, 43%, 1);
  --monaco-color-23: hsla(317, 100%, 43%, 1);
  --monaco-color-24: hsla(0, 100%, 19%, 1);
  --monaco-color-25: hsla(215, 100%, 19%, 1);
}

.color-1 {
  color: var(--monaco-color-1);
}
.color-2 {
  color: var(--monaco-color-2);
}
.color-3 {
  color: var(--monaco-color-3);
}
.color-4 {
  color: var(--monaco-color-4);
}
.color-5 {
  color: var(--monaco-color-5);
}
.color-6 {
  color: var(--monaco-color-6);
}
.color-7 {
  color: var(--monaco-color-7);
}
.color-8 {
  color: var(--monaco-color-8);
}
.color-9 {
  color: var(--monaco-color-9);
}
.color-10 {
  color: var(--monaco-color-10);
}
.color-11 {
  color: var(--monaco-color-11);
}
.color-12 {
  color: var(--monaco-color-12);
}
.color-13 {
  color: var(--monaco-color-13);
}
.color-14 {
  color: var(--monaco-color-14);
}
.color-15 {
  color: var(--monaco-color-15);
}
.color-16 {
  color: var(--monaco-color-16);
}
.color-17 {
  color: var(--monaco-color-17);
}
.color-18 {
  color: var(--monaco-color-18);
}
.color-19 {
  color: var(--monaco-color-19);
}
.color-20 {
  color: var(--monaco-color-20);
}
.color-21 {
  color: var(--monaco-color-21);
}
.color-22 {
  color: var(--monaco-color-22);
}
.color-23 {
  color: var(--monaco-color-23);
}
.color-24 {
  color: var(--monaco-color-24);
}
.color-25 {
  color: var(--monaco-color-25);
}

.monaco-select-1 {
  background: var(--monaco-color-1) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-1 {
  background: var(--monaco-color-1) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-2 {
  background: var(--monaco-color-2) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-2 {
  background: var(--monaco-color-2) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-3 {
  background: var(--monaco-color-3) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-3 {
  background: var(--monaco-color-3) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-4 {
  background: var(--monaco-color-4) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-4 {
  background: var(--monaco-color-4) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-5 {
  background: var(--monaco-color-5) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-5 {
  background: var(--monaco-color-5) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-6 {
  background: var(--monaco-color-6) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-6 {
  background: var(--monaco-color-6) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-7 {
  background: var(--monaco-color-7) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-7 {
  background: var(--monaco-color-7) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-8 {
  background: var(--monaco-color-8) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-8 {
  background: var(--monaco-color-8) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-9 {
  background: var(--monaco-color-9) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-9 {
  background: var(--monaco-color-9) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-10 {
  background: var(--monaco-color-10) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-10 {
  background: var(--monaco-color-10) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-11 {
  background: var(--monaco-color-11) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-11 {
  background: var(--monaco-color-11) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-12 {
  background: var(--monaco-color-12) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-12 {
  background: var(--monaco-color-12) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-13 {
  background: var(--monaco-color-13) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-13 {
  background: var(--monaco-color-13) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-14 {
  background: var(--monaco-color-14) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-14 {
  background: var(--monaco-color-14) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-15 {
  background: var(--monaco-color-15) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-15 {
  background: var(--monaco-color-15) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-16 {
  background: var(--monaco-color-16) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-16 {
  background: var(--monaco-color-16) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-17 {
  background: var(--monaco-color-17) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-17 {
  background: var(--monaco-color-17) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-18 {
  background: var(--monaco-color-18) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-18 {
  background: var(--monaco-color-18) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-19 {
  background: var(--monaco-color-19) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-19 {
  background: var(--monaco-color-19) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-20 {
  background: var(--monaco-color-20) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-20 {
  background: var(--monaco-color-20) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-21 {
  background: var(--monaco-color-21) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-21 {
  background: var(--monaco-color-21) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-22 {
  background: var(--monaco-color-22) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-22 {
  background: var(--monaco-color-22) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-23 {
  background: var(--monaco-color-23) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-23 {
  background: var(--monaco-color-23) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-24 {
  background: var(--monaco-color-24) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-24 {
  background: var(--monaco-color-24) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-25 {
  background: var(--monaco-color-25) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-25 {
  background: var(--monaco-color-25) !important;
  width: 2px;
  height: 20px;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}
