/* .monaco-select {
  background: hsla(277, 100%, 47%, 1) !important;
  width: 5px;
  opacity: 85%;
}
.monaco-cursor {
  background: hsla(277, 100%, 47%, 1) !important;
  width: 2px !important;
  width: 5px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}
.monaco-cursor:hover {
  width: 5px !important;
  background: white !important;
} */

@keyframes blinking {
	to {
		opacity: 0%;
	}
}

.disappear {
  opacity: 100%;
  animation: blur 2s step-end forwards;
}

@keyframes blur {
  to {
    opacity: 0%;
  }
}

:root {
  --monaco-color-1: hsla(352, 100%, 46%, 1);
  --monaco-color-2: hsla(60, 100%, 62%, 1);
  --monaco-color-3: hsla(282, 100%, 65%, 1);
  --monaco-color-4: hsla(121, 100%, 48%, 1);
  --monaco-color-5: hsla(280, 100%, 57%, 1);
  --monaco-color-6: hsla(289, 100%, 65%, 1);
  --monaco-color-7: hsla(118, 100%, 42%, 1);
  --monaco-color-8: hsla(332, 100%, 58%, 1);
  --monaco-color-9: hsla(241, 100%, 47%, 1);
  --monaco-color-10: hsla(8, 100%, 54%, 1);
  --monaco-color-11: hsla(180, 100%, 58%, 1);
  --monaco-color-12: hsla(62, 100%, 64%, 1);
  --monaco-color-13: hsla(137, 100%, 59%, 1);
  --monaco-color-14: hsla(85, 100%, 63%, 1);
  --monaco-color-15: hsla(19, 100%, 59%, 1);
  --monaco-color-16: hsla(94, 100%, 48%, 1);
  --monaco-color-17: hsla(258, 100%, 40%, 1);
  --monaco-color-18: hsla(226, 100%, 46%, 1);
  --monaco-color-19: hsla(143, 100%, 48%, 1);
  --monaco-color-20: hsla(97, 100%, 52%, 1);
  --monaco-color-21: hsla(254, 100%, 67%, 1);
  --monaco-color-22: hsla(338, 100%, 44%, 1);
  --monaco-color-23: hsla(116, 100%, 58%, 1);
  --monaco-color-24: hsla(123, 100%, 68%, 1);
  --monaco-color-25: hsla(286, 100%, 54%, 1);
  --monaco-color-26: hsla(226, 100%, 47%, 1);
  --monaco-color-27: hsla(127, 100%, 65%, 1);
  --monaco-color-28: hsla(285, 100%, 42%, 1);
  --monaco-color-29: hsla(278, 100%, 59%, 1);
  --monaco-color-30: hsla(44, 100%, 40%, 1);
  --monaco-color-31: hsla(161, 100%, 44%, 1);
  --monaco-color-32: hsla(1, 100%, 51%, 1);
  --monaco-color-33: hsla(94, 100%, 55%, 1);
  --monaco-color-34: hsla(41, 100%, 42%, 1);
  --monaco-color-35: hsla(22, 100%, 46%, 1);
  --monaco-color-36: hsla(53, 100%, 66%, 1);
  --monaco-color-37: hsla(335, 100%, 56%, 1);
  --monaco-color-38: hsla(23, 100%, 47%, 1);
  --monaco-color-39: hsla(309, 100%, 58%, 1);
  --monaco-color-40: hsla(28, 100%, 52%, 1);
  --monaco-color-41: hsla(286, 100%, 69%, 1);
  --monaco-color-42: hsla(134, 100%, 47%, 1);
  --monaco-color-43: hsla(184, 100%, 50%, 1);
  --monaco-color-44: hsla(346, 100%, 63%, 1);
  --monaco-color-45: hsla(83, 100%, 43%, 1);
  --monaco-color-46: hsla(323, 100%, 47%, 1);
  --monaco-color-47: hsla(145, 100%, 53%, 1);
  --monaco-color-48: hsla(157, 100%, 48%, 1);
  --monaco-color-49: hsla(221, 100%, 49%, 1);
  --monaco-color-50: hsla(282, 100%, 65%, 1);
  --monaco-color-51: hsla(73, 100%, 42%, 1);
  --monaco-color-52: hsla(136, 100%, 59%, 1);
  --monaco-color-53: hsla(235, 100%, 43%, 1);
  --monaco-color-54: hsla(276, 100%, 55%, 1);
  --monaco-color-55: hsla(213, 100%, 44%, 1);
  --monaco-color-56: hsla(221, 100%, 68%, 1);
  --monaco-color-57: hsla(303, 100%, 65%, 1);
  --monaco-color-58: hsla(147, 100%, 63%, 1);
  --monaco-color-59: hsla(216, 100%, 56%, 1);
  --monaco-color-60: hsla(37, 100%, 47%, 1);
  --monaco-color-61: hsla(242, 100%, 46%, 1);
  --monaco-color-62: hsla(338, 100%, 43%, 1);
  --monaco-color-63: hsla(131, 100%, 44%, 1);
  --monaco-color-64: hsla(160, 100%, 51%, 1);
  --monaco-color-65: hsla(150, 100%, 52%, 1);
  --monaco-color-66: hsla(252, 100%, 45%, 1);
  --monaco-color-67: hsla(98, 100%, 48%, 1);
  --monaco-color-68: hsla(274, 100%, 57%, 1);
  --monaco-color-69: hsla(249, 100%, 44%, 1);
  --monaco-color-70: hsla(103, 100%, 41%, 1);
  --monaco-color-71: hsla(275, 100%, 55%, 1);
  --monaco-color-72: hsla(91, 100%, 66%, 1);
  --monaco-color-73: hsla(46, 100%, 55%, 1);
  --monaco-color-74: hsla(330, 100%, 64%, 1);
  --monaco-color-75: hsla(103, 100%, 66%, 1);
  --monaco-color-76: hsla(13, 100%, 54%, 1);
  --monaco-color-77: hsla(286, 100%, 64%, 1);
  --monaco-color-78: hsla(249, 100%, 41%, 1);
  --monaco-color-79: hsla(55, 100%, 51%, 1);
  --monaco-color-80: hsla(16, 100%, 69%, 1);
  --monaco-color-81: hsla(91, 100%, 43%, 1);
  --monaco-color-82: hsla(235, 100%, 64%, 1);
  --monaco-color-83: hsla(115, 100%, 53%, 1);
  --monaco-color-84: hsla(27, 100%, 45%, 1);
  --monaco-color-85: hsla(133, 100%, 66%, 1);
  --monaco-color-86: hsla(319, 100%, 63%, 1);
  --monaco-color-87: hsla(123, 100%, 61%, 1);
  --monaco-color-88: hsla(102, 100%, 67%, 1);
  --monaco-color-89: hsla(98, 100%, 59%, 1);
  --monaco-color-90: hsla(22, 100%, 40%, 1);
  --monaco-color-91: hsla(352, 100%, 52%, 1);
  --monaco-color-92: hsla(256, 100%, 49%, 1);
  --monaco-color-93: hsla(23, 100%, 55%, 1);
  --monaco-color-94: hsla(55, 100%, 47%, 1);
  --monaco-color-95: hsla(84, 100%, 46%, 1);
  --monaco-color-96: hsla(235, 100%, 48%, 1);
  --monaco-color-97: hsla(71, 100%, 69%, 1);
  --monaco-color-98: hsla(78, 100%, 67%, 1);
  --monaco-color-99: hsla(304, 100%, 45%, 1);
  --monaco-color-100: hsla(335, 100%, 67%, 1);
}
.monaco-select-1 {
  background: var(--monaco-color-1) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-1 {
  background: var(--monaco-color-1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-2 {
  background: var(--monaco-color-2) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-2 {
  background: var(--monaco-color-2) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-3 {
  background: var(--monaco-color-3) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-3 {
  background: var(--monaco-color-3) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-4 {
  background: var(--monaco-color-4) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-4 {
  background: var(--monaco-color-4) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-5 {
  background: var(--monaco-color-5) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-5 {
  background: var(--monaco-color-5) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-6 {
  background: var(--monaco-color-6) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-6 {
  background: var(--monaco-color-6) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-7 {
  background: var(--monaco-color-7) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-7 {
  background: var(--monaco-color-7) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-8 {
  background: var(--monaco-color-8) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-8 {
  background: var(--monaco-color-8) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-9 {
  background: var(--monaco-color-9) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-9 {
  background: var(--monaco-color-9) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-10 {
  background: var(--monaco-color-10) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-10 {
  background: var(--monaco-color-10) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-11 {
  background: var(--monaco-color-11) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-11 {
  background: var(--monaco-color-11) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-12 {
  background: var(--monaco-color-12) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-12 {
  background: var(--monaco-color-12) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-13 {
  background: var(--monaco-color-13) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-13 {
  background: var(--monaco-color-13) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-14 {
  background: var(--monaco-color-14) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-14 {
  background: var(--monaco-color-14) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-15 {
  background: var(--monaco-color-15) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-15 {
  background: var(--monaco-color-15) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-16 {
  background: var(--monaco-color-16) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-16 {
  background: var(--monaco-color-16) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-17 {
  background: var(--monaco-color-17) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-17 {
  background: var(--monaco-color-17) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-18 {
  background: var(--monaco-color-18) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-18 {
  background: var(--monaco-color-18) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-19 {
  background: var(--monaco-color-19) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-19 {
  background: var(--monaco-color-19) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-20 {
  background: var(--monaco-color-20) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-20 {
  background: var(--monaco-color-20) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-21 {
  background: var(--monaco-color-21) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-21 {
  background: var(--monaco-color-21) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-22 {
  background: var(--monaco-color-22) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-22 {
  background: var(--monaco-color-22) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-23 {
  background: var(--monaco-color-23) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-23 {
  background: var(--monaco-color-23) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-24 {
  background: var(--monaco-color-24) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-24 {
  background: var(--monaco-color-24) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-25 {
  background: var(--monaco-color-25) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-25 {
  background: var(--monaco-color-25) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-26 {
  background: var(--monaco-color-26) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-26 {
  background: var(--monaco-color-26) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-27 {
  background: var(--monaco-color-27) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-27 {
  background: var(--monaco-color-27) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-28 {
  background: var(--monaco-color-28) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-28 {
  background: var(--monaco-color-28) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-29 {
  background: var(--monaco-color-29) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-29 {
  background: var(--monaco-color-29) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-30 {
  background: var(--monaco-color-30) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-30 {
  background: var(--monaco-color-30) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-31 {
  background: var(--monaco-color-31) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-31 {
  background: var(--monaco-color-31) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-32 {
  background: var(--monaco-color-32) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-32 {
  background: var(--monaco-color-32) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-33 {
  background: var(--monaco-color-33) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-33 {
  background: var(--monaco-color-33) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-34 {
  background: var(--monaco-color-34) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-34 {
  background: var(--monaco-color-34) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-35 {
  background: var(--monaco-color-35) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-35 {
  background: var(--monaco-color-35) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-36 {
  background: var(--monaco-color-36) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-36 {
  background: var(--monaco-color-36) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-37 {
  background: var(--monaco-color-37) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-37 {
  background: var(--monaco-color-37) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-38 {
  background: var(--monaco-color-38) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-38 {
  background: var(--monaco-color-38) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-39 {
  background: var(--monaco-color-39) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-39 {
  background: var(--monaco-color-39) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-40 {
  background: var(--monaco-color-40) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-40 {
  background: var(--monaco-color-40) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-41 {
  background: var(--monaco-color-41) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-41 {
  background: var(--monaco-color-41) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-42 {
  background: var(--monaco-color-42) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-42 {
  background: var(--monaco-color-42) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-43 {
  background: var(--monaco-color-43) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-43 {
  background: var(--monaco-color-43) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-44 {
  background: var(--monaco-color-44) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-44 {
  background: var(--monaco-color-44) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-45 {
  background: var(--monaco-color-45) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-45 {
  background: var(--monaco-color-45) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-46 {
  background: var(--monaco-color-46) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-46 {
  background: var(--monaco-color-46) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-47 {
  background: var(--monaco-color-47) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-47 {
  background: var(--monaco-color-47) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-48 {
  background: var(--monaco-color-48) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-48 {
  background: var(--monaco-color-48) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-49 {
  background: var(--monaco-color-49) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-49 {
  background: var(--monaco-color-49) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-50 {
  background: var(--monaco-color-50) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-50 {
  background: var(--monaco-color-50) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-51 {
  background: var(--monaco-color-51) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-51 {
  background: var(--monaco-color-51) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-52 {
  background: var(--monaco-color-52) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-52 {
  background: var(--monaco-color-52) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-53 {
  background: var(--monaco-color-53) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-53 {
  background: var(--monaco-color-53) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-54 {
  background: var(--monaco-color-54) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-54 {
  background: var(--monaco-color-54) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-55 {
  background: var(--monaco-color-55) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-55 {
  background: var(--monaco-color-55) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-56 {
  background: var(--monaco-color-56) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-56 {
  background: var(--monaco-color-56) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-57 {
  background: var(--monaco-color-57) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-57 {
  background: var(--monaco-color-57) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-58 {
  background: var(--monaco-color-58) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-58 {
  background: var(--monaco-color-58) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-59 {
  background: var(--monaco-color-59) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-59 {
  background: var(--monaco-color-59) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-60 {
  background: var(--monaco-color-60) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-60 {
  background: var(--monaco-color-60) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-61 {
  background: var(--monaco-color-61) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-61 {
  background: var(--monaco-color-61) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-62 {
  background: var(--monaco-color-62) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-62 {
  background: var(--monaco-color-62) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-63 {
  background: var(--monaco-color-63) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-63 {
  background: var(--monaco-color-63) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-64 {
  background: var(--monaco-color-64) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-64 {
  background: var(--monaco-color-64) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-65 {
  background: var(--monaco-color-65) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-65 {
  background: var(--monaco-color-65) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-66 {
  background: var(--monaco-color-66) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-66 {
  background: var(--monaco-color-66) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-67 {
  background: var(--monaco-color-67) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-67 {
  background: var(--monaco-color-67) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-68 {
  background: var(--monaco-color-68) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-68 {
  background: var(--monaco-color-68) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-69 {
  background: var(--monaco-color-69) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-69 {
  background: var(--monaco-color-69) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-70 {
  background: var(--monaco-color-70) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-70 {
  background: var(--monaco-color-70) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-71 {
  background: var(--monaco-color-71) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-71 {
  background: var(--monaco-color-71) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-72 {
  background: var(--monaco-color-72) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-72 {
  background: var(--monaco-color-72) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-73 {
  background: var(--monaco-color-73) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-73 {
  background: var(--monaco-color-73) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-74 {
  background: var(--monaco-color-74) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-74 {
  background: var(--monaco-color-74) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-75 {
  background: var(--monaco-color-75) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-75 {
  background: var(--monaco-color-75) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-76 {
  background: var(--monaco-color-76) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-76 {
  background: var(--monaco-color-76) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-77 {
  background: var(--monaco-color-77) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-77 {
  background: var(--monaco-color-77) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-78 {
  background: var(--monaco-color-78) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-78 {
  background: var(--monaco-color-78) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-79 {
  background: var(--monaco-color-79) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-79 {
  background: var(--monaco-color-79) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-80 {
  background: var(--monaco-color-80) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-80 {
  background: var(--monaco-color-80) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-81 {
  background: var(--monaco-color-81) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-81 {
  background: var(--monaco-color-81) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-82 {
  background: var(--monaco-color-82) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-82 {
  background: var(--monaco-color-82) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-83 {
  background: var(--monaco-color-83) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-83 {
  background: var(--monaco-color-83) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-84 {
  background: var(--monaco-color-84) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-84 {
  background: var(--monaco-color-84) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-85 {
  background: var(--monaco-color-85) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-85 {
  background: var(--monaco-color-85) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-86 {
  background: var(--monaco-color-86) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-86 {
  background: var(--monaco-color-86) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-87 {
  background: var(--monaco-color-87) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-87 {
  background: var(--monaco-color-87) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-88 {
  background: var(--monaco-color-88) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-88 {
  background: var(--monaco-color-88) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-89 {
  background: var(--monaco-color-89) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-89 {
  background: var(--monaco-color-89) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-90 {
  background: var(--monaco-color-90) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-90 {
  background: var(--monaco-color-90) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-91 {
  background: var(--monaco-color-91) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-91 {
  background: var(--monaco-color-91) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-92 {
  background: var(--monaco-color-92) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-92 {
  background: var(--monaco-color-92) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-93 {
  background: var(--monaco-color-93) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-93 {
  background: var(--monaco-color-93) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-94 {
  background: var(--monaco-color-94) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-94 {
  background: var(--monaco-color-94) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-95 {
  background: var(--monaco-color-95) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-95 {
  background: var(--monaco-color-95) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-96 {
  background: var(--monaco-color-96) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-96 {
  background: var(--monaco-color-96) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-97 {
  background: var(--monaco-color-97) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-97 {
  background: var(--monaco-color-97) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-98 {
  background: var(--monaco-color-98) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-98 {
  background: var(--monaco-color-98) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-99 {
  background: var(--monaco-color-99) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-99 {
  background: var(--monaco-color-99) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-100 {
  background: var(--monaco-color-100) !important;
  background-blend-mode: multiply;
  opacity: 70%;
}
.monaco-cursor-100 {
  background: var(--monaco-color-100) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}



