/* .monaco-select {
	background: rgb(1, 255, 1) !important;
	opacity: 70%;
}

.monaco-cursor {
	background-color: rgb(1, 255, 1) !important;
	width: 2px !important;
	animation: blinking 0.5s infinite alternate;
	animation-timing-function: cubic-bezier(1, 0, 0, 1);
} */

@keyframes blinking {
	to {
		opacity: 0%;
	}
}

.monaco-select-1 {
  background: hsla(277, 100%, 47%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-1 {
  background: hsla(277, 100%, 47%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-2 {
  background: hsla(47, 100%, 45%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-2 {
  background: hsla(47, 100%, 45%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-3 {
  background: hsla(114, 100%, 50%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-3 {
  background: hsla(114, 100%, 50%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-4 {
  background: hsla(128, 100%, 52%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-4 {
  background: hsla(128, 100%, 52%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-5 {
  background: hsla(49, 100%, 61%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-5 {
  background: hsla(49, 100%, 61%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-6 {
  background: hsla(171, 100%, 57%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-6 {
  background: hsla(171, 100%, 57%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-7 {
  background: hsla(269, 100%, 65%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-7 {
  background: hsla(269, 100%, 65%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-8 {
  background: hsla(120, 100%, 44%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-8 {
  background: hsla(120, 100%, 44%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-9 {
  background: hsla(311, 100%, 68%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-9 {
  background: hsla(311, 100%, 68%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-10 {
  background: hsla(288, 100%, 63%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-10 {
  background: hsla(288, 100%, 63%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-11 {
  background: hsla(135, 100%, 61%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-11 {
  background: hsla(135, 100%, 61%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-12 {
  background: hsla(236, 100%, 59%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-12 {
  background: hsla(236, 100%, 59%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-13 {
  background: hsla(254, 100%, 55%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-13 {
  background: hsla(254, 100%, 55%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-14 {
  background: hsla(217, 100%, 44%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-14 {
  background: hsla(217, 100%, 44%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-15 {
  background: hsla(40, 100%, 68%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-15 {
  background: hsla(40, 100%, 68%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-16 {
  background: hsla(232, 100%, 58%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-16 {
  background: hsla(232, 100%, 58%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-17 {
  background: hsla(45, 100%, 60%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-17 {
  background: hsla(45, 100%, 60%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-18 {
  background: hsla(163, 100%, 67%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-18 {
  background: hsla(163, 100%, 67%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-19 {
  background: hsla(182, 100%, 40%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-19 {
  background: hsla(182, 100%, 40%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-20 {
  background: hsla(86, 100%, 57%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-20 {
  background: hsla(86, 100%, 57%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-21 {
  background: hsla(73, 100%, 66%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-21 {
  background: hsla(73, 100%, 66%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-22 {
  background: hsla(209, 100%, 52%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-22 {
  background: hsla(209, 100%, 52%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-23 {
  background: hsla(193, 100%, 41%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-23 {
  background: hsla(193, 100%, 41%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-24 {
  background: hsla(57, 100%, 49%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-24 {
  background: hsla(57, 100%, 49%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-25 {
  background: hsla(212, 100%, 59%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-25 {
  background: hsla(212, 100%, 59%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-26 {
  background: hsla(280, 100%, 62%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-26 {
  background: hsla(280, 100%, 62%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-27 {
  background: hsla(354, 100%, 43%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-27 {
  background: hsla(354, 100%, 43%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-28 {
  background: hsla(74, 100%, 68%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-28 {
  background: hsla(74, 100%, 68%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-29 {
  background: hsla(221, 100%, 40%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-29 {
  background: hsla(221, 100%, 40%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-30 {
  background: hsla(102, 100%, 43%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-30 {
  background: hsla(102, 100%, 43%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-31 {
  background: hsla(231, 100%, 60%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-31 {
  background: hsla(231, 100%, 60%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-32 {
  background: hsla(179, 100%, 64%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-32 {
  background: hsla(179, 100%, 64%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-33 {
  background: hsla(358, 100%, 41%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-33 {
  background: hsla(358, 100%, 41%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-34 {
  background: hsla(242, 100%, 48%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-34 {
  background: hsla(242, 100%, 48%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-35 {
  background: hsla(338, 100%, 69%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-35 {
  background: hsla(338, 100%, 69%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-36 {
  background: hsla(284, 100%, 64%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-36 {
  background: hsla(284, 100%, 64%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-37 {
  background: hsla(284, 100%, 55%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-37 {
  background: hsla(284, 100%, 55%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-38 {
  background: hsla(331, 100%, 46%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-38 {
  background: hsla(331, 100%, 46%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-39 {
  background: hsla(249, 100%, 60%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-39 {
  background: hsla(249, 100%, 60%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-40 {
  background: hsla(62, 100%, 65%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-40 {
  background: hsla(62, 100%, 65%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-41 {
  background: hsla(178, 100%, 47%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-41 {
  background: hsla(178, 100%, 47%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-42 {
  background: hsla(54, 100%, 43%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-42 {
  background: hsla(54, 100%, 43%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-43 {
  background: hsla(41, 100%, 47%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-43 {
  background: hsla(41, 100%, 47%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-44 {
  background: hsla(290, 100%, 64%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-44 {
  background: hsla(290, 100%, 64%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-45 {
  background: hsla(181, 100%, 45%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-45 {
  background: hsla(181, 100%, 45%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-46 {
  background: hsla(291, 100%, 68%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-46 {
  background: hsla(291, 100%, 68%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-47 {
  background: hsla(100, 100%, 51%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-47 {
  background: hsla(100, 100%, 51%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-48 {
  background: hsla(175, 100%, 46%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-48 {
  background: hsla(175, 100%, 46%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-49 {
  background: hsla(84, 100%, 40%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-49 {
  background: hsla(84, 100%, 40%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-50 {
  background: hsla(56, 100%, 49%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-50 {
  background: hsla(56, 100%, 49%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-51 {
  background: hsla(224, 100%, 48%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-51 {
  background: hsla(224, 100%, 48%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-52 {
  background: hsla(61, 100%, 66%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-52 {
  background: hsla(61, 100%, 66%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-53 {
  background: hsla(251, 100%, 68%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-53 {
  background: hsla(251, 100%, 68%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-54 {
  background: hsla(140, 100%, 50%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-54 {
  background: hsla(140, 100%, 50%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-55 {
  background: hsla(100, 100%, 57%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-55 {
  background: hsla(100, 100%, 57%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-56 {
  background: hsla(283, 100%, 67%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-56 {
  background: hsla(283, 100%, 67%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-57 {
  background: hsla(118, 100%, 62%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-57 {
  background: hsla(118, 100%, 62%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-58 {
  background: hsla(299, 100%, 46%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-58 {
  background: hsla(299, 100%, 46%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-59 {
  background: hsla(79, 100%, 44%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-59 {
  background: hsla(79, 100%, 44%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-60 {
  background: hsla(349, 100%, 41%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-60 {
  background: hsla(349, 100%, 41%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-61 {
  background: hsla(109, 100%, 51%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-61 {
  background: hsla(109, 100%, 51%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-62 {
  background: hsla(317, 100%, 67%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-62 {
  background: hsla(317, 100%, 67%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-63 {
  background: hsla(206, 100%, 53%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-63 {
  background: hsla(206, 100%, 53%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-64 {
  background: hsla(181, 100%, 68%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-64 {
  background: hsla(181, 100%, 68%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-65 {
  background: hsla(254, 100%, 66%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-65 {
  background: hsla(254, 100%, 66%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-66 {
  background: hsla(268, 100%, 56%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-66 {
  background: hsla(268, 100%, 56%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-67 {
  background: hsla(205, 100%, 63%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-67 {
  background: hsla(205, 100%, 63%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-68 {
  background: hsla(226, 100%, 50%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-68 {
  background: hsla(226, 100%, 50%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-69 {
  background: hsla(84, 100%, 47%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-69 {
  background: hsla(84, 100%, 47%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-70 {
  background: hsla(56, 100%, 62%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-70 {
  background: hsla(56, 100%, 62%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-71 {
  background: hsla(354, 100%, 53%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-71 {
  background: hsla(354, 100%, 53%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-72 {
  background: hsla(191, 100%, 56%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-72 {
  background: hsla(191, 100%, 56%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-73 {
  background: hsla(122, 100%, 44%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-73 {
  background: hsla(122, 100%, 44%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-74 {
  background: hsla(189, 100%, 52%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-74 {
  background: hsla(189, 100%, 52%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-75 {
  background: hsla(8, 100%, 52%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-75 {
  background: hsla(8, 100%, 52%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-76 {
  background: hsla(222, 100%, 49%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-76 {
  background: hsla(222, 100%, 49%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-77 {
  background: hsla(351, 100%, 52%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-77 {
  background: hsla(351, 100%, 52%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-78 {
  background: hsla(110, 100%, 42%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-78 {
  background: hsla(110, 100%, 42%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-79 {
  background: hsla(4, 100%, 43%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-79 {
  background: hsla(4, 100%, 43%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-80 {
  background: hsla(150, 100%, 66%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-80 {
  background: hsla(150, 100%, 66%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-81 {
  background: hsla(124, 100%, 40%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-81 {
  background: hsla(124, 100%, 40%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-82 {
  background: hsla(170, 100%, 57%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-82 {
  background: hsla(170, 100%, 57%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-83 {
  background: hsla(139, 100%, 43%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-83 {
  background: hsla(139, 100%, 43%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-84 {
  background: hsla(84, 100%, 49%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-84 {
  background: hsla(84, 100%, 49%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-85 {
  background: hsla(117, 100%, 44%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-85 {
  background: hsla(117, 100%, 44%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-86 {
  background: hsla(142, 100%, 69%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-86 {
  background: hsla(142, 100%, 69%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-87 {
  background: hsla(280, 100%, 56%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-87 {
  background: hsla(280, 100%, 56%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-88 {
  background: hsla(308, 100%, 44%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-88 {
  background: hsla(308, 100%, 44%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-89 {
  background: hsla(170, 100%, 40%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-89 {
  background: hsla(170, 100%, 40%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-90 {
  background: hsla(205, 100%, 62%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-90 {
  background: hsla(205, 100%, 62%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-91 {
  background: hsla(78, 100%, 52%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-91 {
  background: hsla(78, 100%, 52%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-92 {
  background: hsla(344, 100%, 49%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-92 {
  background: hsla(344, 100%, 49%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-93 {
  background: hsla(271, 100%, 56%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-93 {
  background: hsla(271, 100%, 56%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-94 {
  background: hsla(322, 100%, 59%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-94 {
  background: hsla(322, 100%, 59%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-95 {
  background: hsla(277, 100%, 49%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-95 {
  background: hsla(277, 100%, 49%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-96 {
  background: hsla(5, 100%, 48%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-96 {
  background: hsla(5, 100%, 48%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-97 {
  background: hsla(165, 100%, 49%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-97 {
  background: hsla(165, 100%, 49%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-98 {
  background: hsla(177, 100%, 68%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-98 {
  background: hsla(177, 100%, 68%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-99 {
  background: hsla(38, 100%, 47%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-99 {
  background: hsla(38, 100%, 47%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.monaco-select-100 {
  background: hsla(307, 100%, 63%, 1) !important;
  opacity: 85%;
}
.monaco-cursor-100 {
  background: hsla(307, 100%, 63%, 1) !important;
  width: 2px !important;
  width: 2px !important;
  animation: blinking 0.5s infinite alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}



