/* You can add global styles to this file, and also import other style files */

/* Monaco cursor and select */
.monaco-select {
	background: grey !important;
}

.monaco-select:after {
	padding-right: 100px !important;
	background-color: white !important;
}

.monaco-cursor {
	background: rgb(255, 255, 255);
	width: 2px !important;
}