/* You can add global styles to this file, and also import other style files */

/* Monaco cursor and select */
.monaco-select {
	background: rgb(1, 255, 1) !important;
	opacity: 70%;
}

.monaco-cursor {
	background: rgb(1, 255, 1) !important;
	width: 2px !important;
}