img {
  height: 25px;
  width: 25px;
  margin-top: 4px;
  color: #ff0000;
}

.invisibleBtn {
  border: initial;
  background-color: initial;
  outline: none;
}

.chatBox {
  width: 90vw;
  height: 50vh;
}

@media (min-width: 768px) {
  .chatBox {
    width: 23vw;
    height: 75vh;
    overflow-y: auto;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
