img {
  height: 25px;
  width: 25px;
  margin-top: 4px;
  color: #ff0000;
}

.invisibleBtn {
  border: initial;
  background-color: initial;
  outline: none;
}

.chatBox {
  width: 90vw;
  height: 50vh;
  overflow-y: auto;
  position: relative !important;
}

.dropdown-menu {
  width: 100%;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

.btn-dropdown {
  width: 100%;
}

.fa-fw {
  font-size: 15px;
  margin-right: 0.5rem;
}

.emoji-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.emoji-wrapper emoji-mart {
  position: absolute;
  right: 38px;
  bottom: 0px;
}

@media (min-width: 768px) {
  .chatBox {
    width: 23vw;
    height: 67vh;
    overflow-y: auto;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
