<div role="main" class="cover d-flex">
  <img src="../../assets/codeTyping.svg" alt="laptop" class="home-img order-md-2 order-sm-1" />
  <div class="container text-center order-md-1 order-sm-2">
    <h1 class="font-weight-bold">Get started with Code Spot</h1>
    <h3 class="font-weight-light">
      We help developers work on projects together.
    </h3>
    <div class="d-flex flex-column flex-md-row justify-content-center mt-5">
      <a class="btn btn-lg mr-md-3 btn-navy"
         role="button"
         routerlink="/editor"
         (click)="goToEditor()">Create New Room &raquo;</a>
    </div>
  </div>
</div>

<div class="features">
  <div class="d-flex feature flex-md-row flex-column">
    <img class="feature-img" src="../../assets/googleDocs_.svg" />
    <div class="feature-text-left">
      <h1 class="feature-name mb-4">Synchronous Editing</h1>
      <p class="feature-text">
        Collaborate together in a real-time code editor with the power of Visual Studio Code. Suggestions, parameter hints, syntax colorization and more! Code Spot supports unlimited collaborators and 100% privacy!
      </p>
    </div>
  </div>

  <div class="d-flex feature flex-md-row flex-column">
    <div class="feature-text-right">
      <h1 class="feature-name mb-4">Share your ideas</h1>
      <p class="feature-text">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum."
      </p>
    </div>
    <img
      class="feature-img"
      style="margin-left: auto;"
      src="../../assets/groupChat.svg"
    />
  </div>
</div>
