.cover {
  height: 95vh;
  align-items: center;
  margin-bottom: 120px;
  background-color: #e9ecef;
}

.home-img {
  margin-right: 50px;
  width: 50%;
}

.container {
  top: 260px;
  margin: 0 50px;
}

.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.btn-navy {
  color: white;
  background-color: #df691a;
}

.features {
  margin: 0 100px;
}

.feature {
  margin-bottom: 130px;
}

h1 {
  color: #151b26;
}

.feature-img {
  width: 600px;
}

h3,
.feature-text {
  color: #646f79;
}

.feature-text-left {
  margin-left: 100px;
}

.feature-text-right {
  padding-right: 100px;
}

p {
    font-size: 21px;
}

@media (max-width: 768px) {
  .cover {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .container {
    position: initial;
  }

  .home-img {
    height: auto;
    width: 100%;
    margin-left: 50px;
    margin-bottom: 40px;
  }

  .features {
    margin: 0px 0px;
  }

  .feature {
    margin-bottom: 20px;
  }

  .feature-img {
    order: 0;
    height: auto;
    width: 80%;
    margin: 0 auto;
  }

  .feature-name {
    font-size: 2rem;
  }

  .feature-text {
    font-size: 1rem;
  }

  .feature-text-left,
  .feature-text-right {
    order: 1;
    margin: 40px 0px;
    padding: 0 40px;
  }

  p {
      font-size: 10px;
  }
}
