<div role="main" class="cover d-flex">
  <img src="../../assets/inSync.svg" alt="laptop" class="home-img order-md-2 order-sm-1" />
  <div class="container text-center order-md-1 order-sm-2">
    <h1 class="font-weight-bold">Get started with Code Spot</h1>
    <h3 class="font-weight-light">
      We help companies conduct technical interviews
    </h3>
    <div class="d-flex flex-column flex-md-row justify-content-center mt-5">
      <button class="btn btn-lg mr-md-3 btn-primary"
         role="button"
         routerlink="/editor"
         (click)="goToEditor()">Create New Room &raquo;</button>
    </div>
  </div>
</div>

<div class="features">
  <div class="d-flex feature flex-md-row flex-column">
    <img class="feature-img" src="../../assets/googleDocs_.svg" />
    <div class="feature-text-left mt-5">
      <h1 class="feature-name mb-4">Real-time Collaboration</h1>
      <p class="feature-text">
        Live interviews with the power of Visual Studio Code, the most popular code editor. Code Spot supports 50+ programming languages including C, C++, Java, Python, JavaScript, and many more. Plus, Code Spot supports an unlimited number of collaborators and 100% privacy! No account creation is needed.
      </p>
    </div>
  </div>

  <div class="d-flex feature flex-md-row flex-column">
    <div class="feature-text-right mt-5">
      <h1 class="feature-name mb-4">Simple Messaging</h1>
      <p class="feature-text">
        Code Spot boosts your interviews experience with built-in messaging functionalities. Express more with hundreds of emoji included!
      </p>
    </div>
    <img
      class="feature-img"
      style="margin-left: auto;"
      src="../../assets/groupChat.svg"
    />
  </div>
</div>
