<div class="container mt-3">
  <!--<h3>{{roomName}}</h3>-->
  <div class="col-md-12">
    <form class="form-horizontal" [formGroup]="languageForm">
      <!--Select Language-->
      <div class="form-group">
        <div class="col-sm-4">
          <select class="form-control" formControlName="language" (change)="onLanguageChange($event.target.value)">
            <option *ngFor="let language of languages" [ngValue]="language.value">{{language.name}}</option>
          </select>
        </div>
      </div>
      <!--Editor-->
      <div>
        <ngx-monaco-editor class="solution-code-editor" [options]="editorOptions" (onInit)="onInitHandler($event)"></ngx-monaco-editor>
      </div>
    </form>
  </div>
  <a class="btn btn-md mb-3 btn-navy" role="button" routerLink="/editor">Get shareable link!</a>
</div>
