<!-- Loading screen -->
<div
  *ngIf="!ready"
  class="d-flex mr-2 justify-content-around align-items-center loading"
  id="waiting-screen"
>
  <div id="spinner-container" class="text-center">
    <div class="spinner-grow text-primary mb-3" role="status"></div>
    <br />
    <h2>Loading...</h2>
    <p>This will only take a few seconds.</p>
  </div>
  <img id="loading-img" src="../../assets/loading.svg" alt="loading" />
</div>

<!-- Warning banner -->
<div
  *ngIf="ready"
  class="alert alert-warning alert-dismissible fade show text-center"
  role="alert"
>
  <strong>Welcome to Code Spot! </strong>We are grateful to see you! Remember to
  <strong>
    save your data before leaving.
  </strong>
  After everyone leaves the room, the data will be erased forever.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Error banner -->
<div
  *ngIf="showErrorBanner"
  class="alert alert-danger alert-dismissible fade show text-center"
  role="alert"
>
  <strong
    >Your session has been disconnected! Anything you type will no longer sync. </strong
  >Please refresh this page or create a new room!
</div>

<div #mainContainer class="d-flex ml-3 mr-2 flex-md-row flex-column mt-4">
  <form class="form-horizontal col-md-9 col-xs-12" [formGroup]="editorForm">
    <div *ngIf="ready" class="d-flex form-row">
      <!--Select Language-->
      <div class="form-group">
        <div class="col-sm-2 pl-0">
          <select
            class="custom-select form-control"
            formControlName="language"
            (change)="onLanguageChange($event.target.value)"
          >
            <option
              *ngFor="let language of languages"
              [ngValue]="language.value"
            >
              {{ language.name }}
            </option>
          </select>
        </div>
      </div>
      <!--Select Theme-->
      <div class="form-group">
        <div class="col-sm-2 pl-0">
          <select
            class="custom-select form-control"
            formControlName="theme"
            (change)="onThemeChange($event.target.value)"
          >
            <option *ngFor="let theme of themes" [ngValue]="theme.value">
              {{ theme.name }}
            </option>
          </select>
        </div>
      </div>
      <!--Toggle Name Tag-->
      <div
        class="custom-control custom-switch form-group d-flex align-items-center"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          id="tagNameSwitch"
          [(ngModel)]="showNameTags"
          (change)="toggleNameTag()"
          [ngModelOptions]="{ standalone: true }"
        />
        <label class="custom-control-label" for="tagNameSwitch"
          >Show name tags</label
        >
      </div>
    </div>
    <!-- Main Editor-->
    <div>
      <ngx-monaco-editor
        [style.visibility]="ready ? 'visible' : 'hidden'"
        class="solution-code-editor"
        [options]="editorOptions"
        (onInit)="onInitEditorHandler($event)"
      ></ngx-monaco-editor>
      <div
        class="btn-container d-flex"
        [style.visibility]="ready ? 'visible' : 'hidden'"
      >
        <button
          class="btn btn-md btn-primary mt-3 mb-4 font-weight-bold"
          (click)="copyLink()"
        >
          Get shareable link!
        </button>
      </div>
    </div>
    <!-- Aux Editor-->
    <ngx-monaco-editor
      id="aux-editor"
      class="solution-code-editor"
      [options]="editorOptions"
      (onInit)="onInitAuxEditorHandler($event)"
    >
    </ngx-monaco-editor>
  </form>

  <!--Chat Box -->
  <app-chatbox
    [style.visibility]="ready ? 'visible' : 'hidden'"
    class="mt-5 ml-1"
  ></app-chatbox>
</div>
