.solution-code-editor {
  height: 75vh;
}

.btn-navy {
  color: white;
  background-color: #CB6318;
}

@media (max-width: 768px) {
    .dummy {
        justify-content: center;
    }
}

.dummy {
    display: flex;
    flex-direction: column;
}

.loading {
    height: 80vh;
}
