.form-control {
  width: initial;
}

.solution-code-editor {
  height: 75vh;
}

.btn-navy {
  color: white;
  background-color: #df691a;
}

.loading {
  height: 80vh;
}

/*.loading-container {
    background-size: cover;
    background-image: url("../../assets/LoadingPage.jpg");
}*/

.alert {
  position: fixed;
  bottom: 0;
  left: 0;
}

@media (max-width: 768px) {
  .form-row {
    justify-content: center;
  }

  .btn-container {
    justify-content: center;
  }
}
