.otherPplMessage {
  background-color: #fedbbd;
}

.myMessage {
  background-color: #efefef;
}

.card {
  border-radius: 10px;
}

.card-body {
  padding: 8px;
}

.card-text {
  margin: 0px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.name {
  margin-bottom: 1px;
  font-weight: bold;
  color: #565656;
}
