html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav-link {
  font-size: 18px;
}

.nav-item {
  padding: 2px;
  margin-left: 7px;
}

.clickable {
  cursor: pointer;
}

.btn-primary {
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

#brandLogo {
    width: 30px;
}

