<!-- <header>
  <nav>
    <div class="container">
      <a (click)="goHome()">CODE SPOT P2P</a>
    
      <div>
        <ul>
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" role="button"  (click)="goHome()">HOME</a>
          </li>
          
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" role="button" (click)="onBtnContactClick()">CONTACT</a>
          </li>
        </ul>
      </div>
      </div>
</nav>
</header> -->
<header>
  <nav>
    <div class="container">
      <div class="flex-container">
        <a href="#">Code Spot P2P</a>
        <div>
          <ul>
            <li><a href="#" (click)="goHome()">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#" (click)="onBtnContactClick()">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>