<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom shadow-sm"
  >
    <div class="container-fluid mx-5">
      <strong class="d-flex align-items-center"><img id="brandLogo" src="../../assets/CodeSpotIcon.svg" class="mr-2" />
        <a class="navbar-brand clickable" (click)="goHome()">Code Spot</a>
      </strong>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow align-items-center">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" role="button" (click)="goHome()"
              >Home</a
            >
          </li>
          <!--<li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" role="button"  (click)="onBtnAboutClick()">ABOUT</a>
          </li>-->
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a
              class="nav-link text-dark"
              role="button"
              (click)="onBtnContactClick()"
              >Contact</a
            >
          </li>
          <li *ngIf="showCreateNewRoomBtn" class="nav-item">
            <a
              class="btn btn-lg btn-navy"
              role="button"
              (click)="onBtnCreateNewRoomClick()"
              >Create New Room &raquo;</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
